black
click
Flask
Flask-PyMongo
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
pathspec
platformdirs
regex
tomli
typing-extensions
Werkzeug
dataclasses
dataclasses_json
Flask-Session
fpdf
pathlib
psycopg2-binary