{% extends "components/base.html" %} {% block content %}
<div>{% include "/components/navbar.html" %}</div>

<form class="d-flex visually-hidden" id="form_drop_ticket" method="GET" action="/ticket/filter">
	<input
		class="form-control me-2"
		type="input"
		id="drop_idx"
		name="idx"
		placeholder="Eliminar"
		aria-label="Eliminar"
	/>
</form>

<div>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Eliminar</th>
         </tr>
      </thead>
      <tbody>
         {% for item in datos %}
         <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ item["ticketid"] }}</td>
            {% for k, v in categories.items() %}
               {% if k == item["category"] %}
                  <td>{{ v }}</td>
               {% endif %}
            {% endfor %}
            <td>{{item["name"]}}</td>
            <td><button onclick="view_ticket('{{ item['idx'] }}', false)" class="btn btn-success" type="button">Editar</button></td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}