{% extends "components/base.html" %}
{% block content %}
<div>
   {% include "/components/navbar.html" %}
</div>

<div class="container-fluid bg-light">
   <button class="btn btn-outline-success me-2" type="button">Agregar</button>
   <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
   </form>
</div>

<div>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
         </tr>
      </thead>
      <tbody>
         {% for item in datos %}
         <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ item["ticketid"] }}</td>
            {% for k, v in categories.items() %}
               {% if k == item["category"] %}
                  <td>{{ v }}</td>
               {% endif %}
            {% endfor %}
            <td>{{item["name"]}}</td>
            <td><button onclick="view_ticket('{{ item['idx'] }}', false)" class="btn btn-success" type="button">Editar</button></td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}