{% extends "components/base.html" %} {% block content %}
<div>{% include "/components/navbar.html" %}</div>

<div class="container-fluid bg-light mb-3">
	<form class="d-flex" method="GET" action="/ticket/filter">
		<input
			class="form-control me-2"
			type="input"
			name="param"
			placeholder="Search"
			aria-label="Search"
		/>
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
</div>

<form class="d-flex visually-hidden" id="form_drop_ticket" method="GET" action="/ticket/filter">
	<input
		class="form-control me-2"
		type="input"
		id="drop_idx"
		name="idx"
		placeholder="Eliminar"
		aria-label="Eliminar"
	/>
</form>

<div class="row mb-3">
	<button
		type="button"
		class="btn btn-outline-success col-4"
		onclick="view_ticket('N/A', true);"
	>
		Agregar
	</button>
	<button 
		class="btn btn-outline-warning col-4" 
		onclick="drop_payment();"
		type="button">
		Eliminar Comprobante
	</button>
	<button class="btn btn-outline-info col-4" type="button">Ir Carrito</button>
</div>

{% if search %}
<div class="alert alert-warning text-center mb-3" role="alert">
	FILTRADO EN BASE A: <b>{{ search }}</b> PRESIONE HOME SI DESEA CARGAR LA VISTA
	COMPLETA
</div>
{% endif %}

<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Tipo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Editar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			{% include "/components/mdatos.html" %}
		</tbody>
	</table>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
				<button
					onclick="onclose();return false;"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			{% include "/components/modal.html" %}
		</div>
	</div>
</div>

<script>
	const myForm = document.getElementById("myForm");

	function setOptionbyValue(selectElement, value) {
		return [...selectElement.options].some((option, index) => {
			if (option.value == value) {
				selectElement.selectedIndex = index;
				return true;
			}
		});
	}

	function onclose(){
		document.getElementById("exampleModal").classList.remove('my-modal-wrapper');
	}

	function view_ticket(idx, isnew) {
		const myModal = new bootstrap.Modal(
			document.getElementById("exampleModal"),
			{}
		);
		const url = "view_ticket/" + idx;
		if (isnew == true) {
			fetch(url, {
				method: "GET", // or 'PUT'
				headers: {
					"Content-Type": "application/json",
				},
			})
				.then((res) => res.json())
				.catch((error) => console.error("Error:", error))
				.then((response) => {
					console.log("Success:", response);
					document.getElementById("isnew").value          = String(isnew);
					document.getElementById("modal_idx").value      = response.idx;
					document.getElementById("modal_id").value       = response.ticketid;
					document.getElementById("modal_name").value     = response.name;
					document.getElementById('modal_level').value    = response.level;
					document.getElementById('modal_grade').value    = response.grade;
					document.getElementById('modal_category').value = response.category;
			});
		}
		document.getElementById("exampleModal").classList.add("my-modal-wrapper");
		myModal.show();
	}

	function drop_ticket(idx){
		document.getElementById("drop_idx").value = idx;
		document.getElementById("form_drop_ticket").submit();
	}

	function drop_payment() {
		const id = prompt("Numero de comprobante");
		var url = "/drop_payment";
		var data = { paymentid: id };

		fetch(url, {
			method: "POST", // or 'PUT'
			body: JSON.stringify(data), // data can be `string` or {object}!
			headers: {
				"Content-Type": "application/json",
			},
		})
			.then((res) => res.json())
			.catch((error) => console.error("Error:", error))
			.then((response) => console.log("Success:", response));
	}

	function save() {
		const url = "/save_ticket";
		let data = {
			isnew:    document.getElementById("isnew").value,
			idx:      document.getElementById("modal_idx").value || "N/A",
			ticketid: document.getElementById("modal_id").value || "N/A",
			name:     document.getElementById("modal_name").value || "N/A",
			level:    document.getElementById("modal_level").value,
			grade:    document.getElementById("modal_grade").value,
			category: document.getElementById("modal_category").value,
		};

		fetch(url, {
			method: "POST", // or 'PUT'
			body: JSON.stringify(data), // data can be `string` or {object}!
			headers: {
				"Content-Type": "application/json",
			},
		})
			.then((res) => res.json())
			.catch((error) => console.error("Error:", error))
			.then((response) => {
				console.log("Success:", response);
				alert("Creado exitosamente codigo "+ response.ticketid)
			});
	}
</script>
{% endblock %}
