{% extends "components/base.html" %} {% block content %}
<div>{% include "/components/navbar.html" %}</div>

<div class="container-fluid bg-light mb-3">
	<form class="d-flex" method="GET" action="/ticket/filter">
		<input
			class="form-control me-2"
			type="input"
			name="param"
			placeholder="Search"
			aria-label="Search"
		/>
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
</div>

<form class="d-flex visually-hidden" id="form_add_to_car" method="GET" action="/ticket/add_to_car">
	<input
		class="form-control me-2"
		type="input"
		id="add_idx"
		name="idx"
		placeholder="Agregar"
		aria-label="Agregar"
	/>
</form>

<form class="d-flex visually-hidden" id="form_drop_ticket" method="GET" action="/ticket/drop_ticket">
	<input
		class="form-control me-2"
		type="input"
		id="drop_ticket_idx"
		name="idx"
		placeholder="Eliminar"
		aria-label="Eliminar"
	/>
</form>

<form class="d-flex visually-hidden" id="form_drop_from_car" method="GET" action="/ticket/drop_from_car">
	<input
		class="form-control me-2"
		type="input"
		id="drop_car_idx"
		name="idx"
		placeholder="Eliminar"
		aria-label="Eliminar"
	/>
</form>

<div class="row mb-3">
	<button
		type="button"
		class="btn btn-outline-success col-6"
		onclick="view_ticket('N/A', 1);"
	>
		Agregar
	</button>
	<button 
		class="btn btn-outline-warning col-6" 
		onclick="drop_payment();"
		type="button">
		Eliminar Comprobante
	</button>
</div>
<form class="d-flex mb-3" method="GET" action="/ticket/pay">
	<button class="btn btn-outline-info col-12" type="submit">Ir Carrito</button>
</form>

{% if search %}
<div class="alert alert-warning text-center mb-3" role="alert">
	FILTRADO EN BASE A: <b>{{ search }}</b> PRESIONE HOME SI DESEA CARGAR LA VISTA
	COMPLETA
</div>
{% endif %}

<div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Tipo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Editar</th>
				<th scope="col">Agregar/Quitar de carrito</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			{% include "/components/mdatos.html" %}
		</tbody>
	</table>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
				<button
					onclick="onclose();return false;"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			{% include "/components/modal.html" %}
		</div>
	</div>
</div>

<script>
	const myForm = document.getElementById("myForm");

	function setOptionbyValue(selectElement, value) {
		return [...selectElement.options].some((option, index) => {
			if (option.value == value) {
				selectElement.selectedIndex = index;
				return true;
			}
		});
	}

	function onclose(){
		document.getElementById("modal_idx").value      = 0;
		document.getElementById("modal_id").value       = 0;
		document.getElementById("modal_name").value     = "";
		document.getElementById('modal_level').value    = 10;
		document.getElementById('modal_grade').value    = 5;
		document.getElementById('modal_category').selectedIndex = 0;
		document.getElementById("exampleModal").classList.remove('my-modal-wrapper');
	}

	function view_ticket(idx, isnew) {
		onclose();
		const myModal = new bootstrap.Modal(
			document.getElementById("exampleModal"),
			{}
		);
		if (isnew == 0) {
			const url = "/ticket/view_ticket/" + idx;
			fetch(url, {
				method: "GET", // or 'PUT'
				headers: {
					"Content-Type": "application/json",
				},
			})
				.then((res) => res.json())
				.catch((error) => console.error("Error:", error))
				.then((response) => {
					console.log("Success:", response);
					if ((response)) {
						document.getElementById("isnew").value          = isnew;
						document.getElementById("modal_idx").value      = response.id;
						document.getElementById("modal_id").value       = response.ticketid;
						document.getElementById("modal_name").value     = response.name;
						document.getElementById('modal_level').value    = response.levelid;
						document.getElementById('modal_grade').value    = response.gradeid;
						document.getElementById('modal_category').value = response.categoryid;
					}
			});
		}
		document.getElementById("isnew").value = isnew;
		document.getElementById("exampleModal").classList.add("my-modal-wrapper");
		myModal.show();
	}

	function drop_ticket(idx){
		document.getElementById("drop_ticket_idx").value = idx;
		document.getElementById("form_drop_ticket").submit();
	}

	function drop_from_car(idx){
		document.getElementById("drop_car_idx").value = idx;
		document.getElementById("form_drop_from_car").submit();
	}

	function drop_payment() {
		const id = prompt("Numero de comprobante");
		var url = "/ticket/drop_payment";
		console.error("ID:", id)
		var data = { paymentid: id };

		fetch(url, {
			method: "POST", // or 'PUT'
			body: JSON.stringify(data), // data can be `string` or {object}!
			headers: {
				"Content-Type": "application/json",
			},
		})
			.then((res) => res.json())
			.catch((error) => console.error("Error:", error))
			.then((response) => console.log("Success:", response));
			window.location.href = "/ticket/";
	}

	function add_ticket_to_car(idx) {
		document.getElementById("add_idx").value = idx;
		document.getElementById("form_add_to_car").submit();
	}

	function save_ticket() {
		const url = "/ticket/save_ticket";
		let data = {
			isnew:      document.getElementById("isnew").value,
			id:         document.getElementById("modal_idx").value || "N/A",
			ticketid:   document.getElementById("modal_id").value || "N/A",
			name:       document.getElementById("modal_name").value || "N/A",
			levelid:    document.getElementById("modal_level").value,
			gradeid:    document.getElementById("modal_grade").value,
			categoryid: document.getElementById("modal_category").value,
		};
		console.log("---DATA TO SEND")
		console.log(data)
		fetch(url, {
			method: "POST", // or 'PUT'
			body: JSON.stringify(data), // data can be `string` or {object}!
			headers: {
				"Content-Type": "application/json",
			},
		})
			.then((res) => res.json())
			.catch((error) => console.error("Error:", error))
			.then((response) => {
				console.log("Success:", response);
				alert("Creado exitosamente codigo "+ response.ticketid)
		});
		window.location.href = "/ticket/";
	}
</script>
{% endblock %}
