{% extends "components/base.html" %} 
{% block content %}
<div>
   {% include "/components/navbar.html" %}
</div>

<div id="tickets" class="row">
   {% for item in datos %}
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
         <div class="card-header">
            <div class="input-group-text">
               <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
            </div>
            Header
         </div>
         <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
               Some quick example text to build on the card title and make up the
               bulk of the card's content.
            </p>
         </div>
      </div>
   {% endfor %}
</div>
{% endblock %}