{% for item in datos %}
<tr>
   <th scope="row">{{ loop.index }}</th>
   <td>{{ item["ticketid"] }}</td>
   {% for k, v in categories.items() %}
      {% if k == item["category"] %}
         <td>{{ v }}</td>
      {% endif %}
   {% endfor %}
   <td>{{ item["name"] }}</td>
   <td><button onclick="view_ticket('{{ item['idx'] }}', false)" class="btn btn-success" type="button">Editar</button></td>
   <td><button onclick="drop_ticket('{{ item['idx'] }}', false)" class="btn btn-danger" type="button">Eliminar</button></td>
</tr>
{% endfor %}