<div class="modal-body">
	<input type="text" id="isnew" class="form-control visually-hidden" />
	<input type="text" id="modal_idx" class="form-control visually-hidden" />
	<input type="text" id="modal_id" class="form-control visually-hidden" />
	<div class="input-group mb-3">
		<span class="input-group-text">Nombre</span>
		<input
			type="text"
			id="modal_name"
			aria-label="Nombre"
			class="form-control"
		/>
	</div>
	<div class="input-group mb-3">
		<label class="input-group-text" for="modal_level">Level</label>
		<select class="form-select" id="modal_level">
			<option selected>Elegir...</option>
			{% for k, v in levels.items() %}
				<option value="{{ k }}">{{ v }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="input-group mb-3">
		<label class="input-group-text" for="modal_grade">Grade</label>
		<select class="form-select" id="modal_grade">
			<option selected>Elegir...</option>
			{% for k, v in grades.items() %}
				<option value="{{ k }}">{{ v }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="input-group mb-3">
		<label class="input-group-text" for="modal_category">Category</label>
		<select class="form-select" id="modal_category">
			<option selected>Elegir...</option>
			{% for k, v in categories.items() %}
				<option value="{{ k }}">{{ v }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="modal-footer">
	<button type="button" onclick="onclose();return false;" class="btn btn-secondary" data-bs-dismiss="modal">
		Close
	</button>
	<button
		type="button"
		onclick="onticket()"
		class="btn btn-primary"
	>
		Save changes
	</button>
</div>
